.Filter {
    position: right; /* при отсутствии свойств top, right, bottom, left элемент фиксируется на том месте окна браузера, на котором находился до прокрутки */ 
    width: 100%;
    max-width: inherit; /* наследуется значение родителя, а именно 30em */ 
}